html {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
