.link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
  &--active-color {
    position: relative;
    color: var(--accent-cl);
  }

  &--underline::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 29px;
    background-color: var(--accent-cl);
    border-radius: 2px;
  }
}
